$colour-heat: #E61C5D;
$colour-regal: #3A0088;
$colour-rich: #930077;
$colour-energy: #FFBD39;

$colour-1: $colour-heat;
$colour-2: $colour-regal;
$colour-3: $colour-rich;
$colour-4: $colour-energy;

// Workbench Colours
$colour-cotton: #FAFAF9;
$colour-sediment: #D6CAC2;
$colour-slate: #504C49;
$colour-onyx: #1B1918;

$colour-w1: $colour-cotton;
$colour-w2: $colour-sediment;
$colour-w3: $colour-slate;
$colour-w4: $colour-onyx;