@import 'vars';

@import 'bootstrap/scss/vendor/rfs';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/border-radius';
@import 'bootstrap/scss/mixins/box-shadow';
@import 'bootstrap/scss/mixins/buttons';
@import 'bootstrap/scss/mixins/gradients';
@import 'bootstrap/scss/mixins/hover';
@import 'bootstrap/scss/mixins/lists';
@import 'bootstrap/scss/mixins/transition';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/button-group';

@import 'waveform-playlist/styles/playlist';

.playlist .controls label {
    margin: 0 auto;
}

.btn-xs {
    font-size: 12px;
}

.annotations-boxes {
    display: none !important;
}

.annotation-play {
    display: inline-block;

    &:after {
        content: 'Play';
    }
}

// I don't know if I'll end up needing this.